// ==========================================================================
// Hero
// ==========================================================================

.hero {
	height: 335px;
	background: url('http://wallpaperbeta.com/wallpaper_1440x900/grass_field_macro_sunset_bokeh_landscapes_1440x900_hd-wallpaper-332802.jpg'),
	            linear-gradient(#75da8f, #77cae9);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: em(50px);
}
